@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('./assets/fonts/fonts.css');


body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif; */
    font-family: "Quicksand", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #D5F8FF;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.font-funky-star {
    font-family: 'Funky Star', sans-serif;
}

.text-stroke-sm {
    -webkit-text-stroke: 2px #242424;
}
.text-stroke {
    -webkit-text-stroke: 3px #242424;
}


.box {
    transition: 0.3s ease-in-out;
}
.box-wrapper:hover .box{
    height: 100%;
    opacity: 100%;
}
